.icon-head-back{background: url('../images/sprite/sprite.png') no-repeat -119px -142px;background-size: 240px 235px;width: 28px;height: 17px;}
.icon-head-drop{background: url('../images/sprite/sprite.png') no-repeat -228px -79px;background-size: 240px 235px;width: 10px;height: 5px;}
.icon-head-leave{background: url('../images/sprite/sprite.png') no-repeat -77px -169px;background-size: 240px 235px;width: 21px;height: 18px;}
.icon-head-portrait_big{background: url('../images/sprite/sprite.png') no-repeat 0px 0px;background-size: 240px 235px;width: 48px;height: 48px;}
.icon-head-talk{background: url('../images/sprite/sprite.png') no-repeat -21px -199px;background-size: 240px 235px;width: 19px;height: 19px;}
.icon-icon-1{background: url('../images/sprite/sprite.png') no-repeat -178px -169px;background-size: 240px 235px;width: 15px;height: 15px;}
.icon-icon-2{background: url('../images/sprite/sprite.png') no-repeat -195px -169px;background-size: 240px 235px;width: 15px;height: 15px;}
.icon-icon-3{background: url('../images/sprite/sprite.png') no-repeat -112px -199px;background-size: 240px 235px;width: 15px;height: 14px;}
.icon-icon-4{background: url('../images/sprite/sprite.png') no-repeat -212px -169px;background-size: 240px 235px;width: 14px;height: 15px;}
.icon-icon-5{background: url('../images/sprite/sprite.png') no-repeat -160px -169px;background-size: 240px 235px;width: 16px;height: 15px;}
.icon-icon-add{background: url('../images/sprite/sprite.png') no-repeat -161px -199px;background-size: 240px 235px;width: 13px;height: 14px;}
.icon-icon-add_gray{background: url('../images/sprite/sprite.png') no-repeat -191px -199px;background-size: 240px 235px;width: 13px;height: 13px;}
.icon-icon-check{background: url('../images/sprite/sprite.png') no-repeat -61px -199px;background-size: 240px 235px;width: 17px;height: 17px;}
.icon-icon-check_on{background: url('../images/sprite/sprite.png') no-repeat -42px -199px;background-size: 240px 235px;width: 17px;height: 17px;}
.icon-icon-clock{background: url('../images/sprite/sprite.png') no-repeat 0px -169px;background-size: 240px 235px;width: 28px;height: 28px;}
.icon-icon-close{background: url('../images/sprite/sprite.png') no-repeat -30px -169px;background-size: 240px 235px;width: 22px;height: 22px;}
.icon-icon-dataConfig{background: url('../images/sprite/sprite.png') no-repeat -127px -121px;background-size: 240px 235px;width: 18px;height: 18px;}
.icon-icon-delete{background: url('../images/sprite/sprite.png') no-repeat -228px -21px;background-size: 240px 235px;width: 12px;height: 13px;}
.icon-icon-drop{background: url('../images/sprite/sprite.png') no-repeat -45px -220px;background-size: 240px 235px;width: 13px;height: 8px;}
.icon-icon-export{background: url('../images/sprite/sprite.png') no-repeat -145px -199px;background-size: 240px 235px;width: 14px;height: 14px;}
.icon-icon-export_on{background: url('../images/sprite/sprite.png') no-repeat -129px -199px;background-size: 240px 235px;width: 14px;height: 14px;}
.icon-icon-file{background: url('../images/sprite/sprite.png') no-repeat -30px -220px;background-size: 240px 235px;width: 13px;height: 15px;}
.icon-icon-folder{background: url('../images/sprite/sprite.png') no-repeat -121px -169px;background-size: 240px 235px;width: 19px;height: 16px;}
.icon-icon-folder_on{background: url('../images/sprite/sprite.png') no-repeat -100px -169px;background-size: 240px 235px;width: 19px;height: 16px;}
.icon-icon-folders{background: url('../images/sprite/sprite.png') no-repeat -149px -142px;background-size: 240px 235px;width: 19px;height: 17px;}
.icon-icon-fx{background: url('../images/sprite/sprite.png') no-repeat -54px -169px;background-size: 240px 235px;width: 21px;height: 18px;}
.icon-icon-grant{background: url('../images/sprite/sprite.png') no-repeat -80px -199px;background-size: 240px 235px;width: 14px;height: 16px;}
.icon-icon-grant_on{background: url('../images/sprite/sprite.png') no-repeat -96px -199px;background-size: 240px 235px;width: 14px;height: 16px;}
.icon-icon-key{background: url('../images/sprite/sprite.png') no-repeat -142px -169px;background-size: 240px 235px;width: 16px;height: 16px;}
.icon-icon-left{background: url('../images/sprite/sprite.png') no-repeat -228px -36px;background-size: 240px 235px;width: 8px;height: 15px;}
.icon-icon-look{background: url('../images/sprite/sprite.png') no-repeat -148px -126px;background-size: 240px 235px;width: 17px;height: 13px;}
.icon-icon-more{background: url('../images/sprite/sprite.png') no-repeat -228px -86px;background-size: 240px 235px;width: 3px;height: 14px;}
.icon-icon-more_row{background: url('../images/sprite/sprite.png') no-repeat -228px -102px;background-size: 240px 235px;width: 11px;height: 2px;}
.icon-icon-pasw{background: url('../images/sprite/sprite.png') no-repeat -228px 0px;background-size: 240px 235px;width: 12px;height: 19px;}
.icon-icon-person{background: url('../images/sprite/sprite.png') no-repeat -170px -142px;background-size: 240px 235px;width: 17px;height: 17px;}
.icon-icon-radio{background: url('../images/sprite/sprite.png') no-repeat -176px -199px;background-size: 240px 235px;width: 13px;height: 13px;}
.icon-icon-radio_on{background: url('../images/sprite/sprite.png') no-repeat -206px -199px;background-size: 240px 235px;width: 13px;height: 13px;}
.icon-icon-reduce{background: url('../images/sprite/sprite.png') no-repeat -228px -106px;background-size: 240px 235px;width: 11px;height: 2px;}
.icon-icon-right{background: url('../images/sprite/sprite.png') no-repeat -228px -65px;background-size: 240px 235px;width: 7px;height: 12px;}
.icon-icon-search{background: url('../images/sprite/sprite.png') no-repeat -127px -99px;background-size: 240px 235px;width: 19px;height: 20px;}
.icon-icon-search_on{background: url('../images/sprite/sprite.png') no-repeat 0px -199px;background-size: 240px 235px;width: 19px;height: 19px;}
.icon-icon-table{background: url('../images/sprite/sprite.png') no-repeat 0px -220px;background-size: 240px 235px;width: 13px;height: 15px;}
.icon-icon-table_on{background: url('../images/sprite/sprite.png') no-repeat -15px -220px;background-size: 240px 235px;width: 13px;height: 15px;}
.icon-icon-toLeft{background: url('../images/sprite/sprite.png') no-repeat -92px -142px;background-size: 240px 235px;width: 25px;height: 21px;}
.icon-icon-toRight_on{background: url('../images/sprite/sprite.png') no-repeat -65px -142px;background-size: 240px 235px;width: 25px;height: 21px;}
.icon-icon-unvisible{background: url('../images/sprite/sprite.png') no-repeat -99px -87px;background-size: 240px 235px;width: 16px;height: 7px;}
.icon-icon-visible{background: url('../images/sprite/sprite.png') no-repeat -167px -126px;background-size: 240px 235px;width: 17px;height: 12px;}
.icon-index-1{background: url('../images/sprite/sprite.png') no-repeat -50px 0px;background-size: 240px 235px;width: 47px;height: 48px;}
.icon-index-2{background: url('../images/sprite/sprite.png') no-repeat -49px -50px;background-size: 240px 235px;width: 44px;height: 46px;}
.icon-index-3{background: url('../images/sprite/sprite.png') no-repeat 0px -50px;background-size: 240px 235px;width: 47px;height: 47px;}
.icon-index-4{background: url('../images/sprite/sprite.png') no-repeat -99px 0px;background-size: 240px 235px;width: 47px;height: 42px;}
.icon-index-5{background: url('../images/sprite/sprite.png') no-repeat -190px -42px;background-size: 240px 235px;width: 26px;height: 48px;}
.icon-invalid{background: url('../images/sprite/sprite.png') no-repeat -228px -53px;background-size: 240px 235px;width: 10px;height: 10px;}
.icon-logo-icon{background: url('../images/sprite/sprite.png') no-repeat -190px -92px;background-size: 240px 235px;width: 35px;height: 33px;}
.icon-logo-icon_bac{background: url('../images/sprite/sprite.png') no-repeat -190px -127px;background-size: 240px 235px;width: 35px;height: 33px;}
.icon-logo{background: url('../images/sprite/sprite.png') no-repeat 0px -142px;background-size: 240px 235px;width: 63px;height: 25px;}
.icon-popup-add{background: url('../images/sprite/sprite.png') no-repeat -43px -99px;background-size: 240px 235px;width: 40px;height: 41px;}
.icon-popup-add_on{background: url('../images/sprite/sprite.png') no-repeat -85px -99px;background-size: 240px 235px;width: 40px;height: 40px;}
.icon-popup-delete{background: url('../images/sprite/sprite.png') no-repeat -148px -84px;background-size: 240px 235px;width: 36px;height: 40px;}
.icon-popup-delete_on{background: url('../images/sprite/sprite.png') no-repeat -190px 0px;background-size: 240px 235px;width: 36px;height: 40px;}
.icon-popup-refresh{background: url('../images/sprite/sprite.png') no-repeat -148px 0px;background-size: 240px 235px;width: 40px;height: 40px;}
.icon-popup-refresh_on{background: url('../images/sprite/sprite.png') no-repeat -148px -42px;background-size: 240px 235px;width: 40px;height: 40px;}
.icon-popup-search{background: url('../images/sprite/sprite.png') no-repeat -99px -44px;background-size: 240px 235px;width: 41px;height: 41px;}
.icon-popup-search_on{background: url('../images/sprite/sprite.png') no-repeat 0px -99px;background-size: 240px 235px;width: 41px;height: 41px;}
